{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "312725682262.dkr.ecr.us-east-1.amazonaws.com/docker-aws-ci-cd:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "3000"
    }
  ]
}